/****** RESPONSIVE DESIGN ***********/

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** DESKTOP ***********/

@media screen and (min-width: 1024px){
    main {
                max-width: 1440px;
                margin: 0 auto;
              
        }

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.populaires-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires img { 

    width:125px;
    border-radius: 20px 0px 0px 20px;
   
   }

.populaires .populaires-cards { 
    width: 100%;
   }


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
  }

   
.hebergements .card {
    width:225px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 25px;
}

.hebergements img {
    border-radius: 20px 20px 0px 0px;
  
}


}

/****** TABLETS ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (min-width: 768px) and (max-width: 1024px) {

.hebergements-and-populaires section {
      margin:15px;
   }
.hebergements .card {
    width:225px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 25px;
}
.hebergements img {
    border-radius: 20px 20px 0px 0px;
  
}
.populaires-title  {
width:100%;
}
.populaires-cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:15px;

}
.populaires img { 

 width:125px;
 border-radius: 20px 0px 0px 20px;

}
.card {
    width: 300px;
    margin-left: 25px;

}
.Hergements-and-populaires  {
  
    display: flex;
    flex-direction: column;
     
    }
  .hebergements {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    
/****** Populaires ***********/
.populaires-cards {
     width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

}

/****** MOBILE ***********/
/* Small devices (less/equal than 768px) */

@media screen and (max-width: 768px) {
    
/****** MAIN ***********/ 

.main-container  {
    width:100%;
    margin: 0; 
    padding: 0;
    display: flex;
	flex-direction: column;
 }

 
.main  {
    width:100%;
    margin: 0; 
    padding: 0;
    display: flex;
	flex-direction: column;
 }

    
/****** LIENS HAUT ***********/
.menuhaut {width:100%;  display: flex; flex-direction: column; align-items: center; }
.menuhaut div{width:100%; display: flex; justify-content:space-around; }
.menuhaut a{width:50%; }
.lienhaut {margin:0px; text-align: center; }
.lienhaut:hover{ border-width: 0px 0px 2px 0px; border-color: #0065FC; padding-bottom: 8px;  }

.menubas { margin: 0px 10px;}

/****** RECHERCHE ***********/    
.bouton-recherche {
    width: 50px;
    padding:15px;
    border-style: none;
    border-radius: 0px 15px 15px 0px;
    border-color: #0065FC;
    background-color:#0065FC;
    color:white;
    text-align: center;
}

/****** FILTRES ***********/    

nav {display:flex; flex-wrap: wrap; margin-top:25px; }

nav div { width: 33%; margin: 10px; }  

.bouton-recherche {display: none;}
.bouton-recherche-logo {display: block;}

form {display: flex; justify-content: center;}

nav {display: flex; justify-content: center;}

/****** HEBERGEMENTS  AND POPULAIRES ***********/    
.hebergements-and-populaires {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin:auto 0px;
    padding:0px;
}


/****** POPULAIRES  ***********/ 
.hebergements-and-populaires .populaires {
    width:100%;
    background-color: #F2F2F2;   
    border-radius: 0px;
    margin:0;
}

.populaires img { 
    width:125px;
    border-radius: 20px 0px 0px 20px;
}

    
.populaires-title { 
     
   display: flex;
   justify-content: space-between;
   margin: 10px 30px;

  }

.populaires-cards {
    width:100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 25px;
}

/****** HEBERGEMENTS  ***********/   
.hebergements-and-populaires .hebergements {
    width:100%;
    background-color: white;   
}

.hebergements-title { 
    margin: 10px 30px;
   }

.hebergements-cards {
width:100%;
display: flex;
flex-direction: column;
border-radius: 20px;
margin-top: 25px;
}

.hebergements .card {
width: 320px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
border-radius: 20px;
margin:20px;
}

.hebergements img {
width: 100%;
height: 124px;
border-radius: 20px 20px 0px 0px;
}


.section-title-ap { 
    margin: 0px 30px;
    
    }

/****** ACTIVITES ***********/ 

.activites  {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.activites-title { 
    margin: 30px 0px;
   }


.activite-cards  {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin-top: 25px;
    
}

.activite-cards  img {
height:141px;
}
/****** FOOTER ***********/ 

.footer {
    
     padding: 0px;
     display: flex;
     flex-direction: column;
     width:100%;
     background-color:#F2F2F2;
     border-radius: 0px;
}

.footer div {
    margin: 0 auto;
    padding:0 80px;
    color:black;
    width: 100%;
}

}
